* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'regular';
}

@font-face {
  font-family: 'regular';
  src: url(../fonts/Sk-Modernist-Regular.otf);
}

body {
  background-color: #FAFAFA;
}

.mycontainer {
  max-width: 1710px;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.title {
  text-decoration: none;
  color: unset;
}

.text .gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(11.55%, #9d50ff), color-stop(104.8%, #9d50ff));
  background: linear-gradient(to right, #9d50ff 11.55%, #9d50ff 104.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text.gradient:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(11.55%, #9d50ff), color-stop(104.8%, #9d50ff));
  background: linear-gradient(to right, #9d50ff 11.55%, #9d50ff 104.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text:hover .notgradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(11.55%, #9d50ff), color-stop(104.8%, #9d50ff));
  background: linear-gradient(to right, #9d50ff 11.55%, #9d50ff 104.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

.regular {
  font-family: 'regular';
}

.border {
  border: 1px solid rgba(4, 9, 33, 0.08);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.page-head {
  margin-bottom: 24px;
}

.page-head__title {
  color: #040921;
  font-size: 24px;
  font-weight: 700;
}

.overflow-hidden {
  overflow: hidden;
}

.empty {
  width: 100%;
  margin-top: 16px;
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
}

.empty__icon {
  width: 160px;
  margin-right: 40px;
}

.empty__icon img {
  max-width: 100%;
}

.empty__title {
  margin-bottom: 16px;
  color: #040921;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.empty__desc {
  margin-bottom: 16px;
  color: rgba(4, 9, 33, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

.header {
  padding-top: 24px;
}

.header__title {
  margin-top: 18px;
  color: #040921;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.header__desc {
  margin-top: 13px;
  color: rgba(4, 9, 33, 0.56);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.header--back {
  background-color: transparent;
  color: #040921;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.header--back img {
  margin-right: 10px;
}

.header__menu {
  padding: 12px 0;
  overflow: auto;
  border-bottom: 1px solid rgba(4, 9, 33, 0.16);
}

.header__menu--item {
  list-style: none;
}

.header__menu--link {
  padding: 10px 23px;
  color: rgba(4, 9, 33, 0.56);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.header__menu--link.active {
  color: #040921;
  border-bottom: 2px solid #583CF0;
}

.page {
  background-color: #fff;
  padding-bottom: 32px;
}

.page__head {
  margin-top: 32px;
}

.page__head--title {
  color: #040921;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.page__head--btn {
  background-color: transparent;
  color: rgba(4, 9, 33, 0.16);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.page__head--btn img {
  margin-left: 10px;
  opacity: .16;
}

.page__menu {
  margin-top: 14px;
}

.page__menu--item {
  list-style: none;
  border-bottom: 1px solid rgba(4, 9, 33, 0.16);
  padding: 16px 0;
}

.page__menu--link {
  text-decoration: none;
}

.page__menu--title {
  color: #040921;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.page__menu--desc {
  margin-top: 12px;
  color: rgba(4, 9, 33, 0.56);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.page__menu--btn {
  color: #040921;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.page__menu--icon {
  margin-left: 10px;
  background-color: transparent;
}

.page__menu--notification {
  margin-top: 16px;
  color: #DE1313;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.page__menu--notification img {
  margin-right: 8px;
}

.page__photo--slider {
  width: calc(100% + (50px + 12px));
  margin-left: -50px;
  margin-top: 16px;
}

.page__photo--cover {
  width: 100%;
  height: 96px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.page__photo--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar {
  background-color: rgba(4, 9, 33, 0.04);
  padding: 32px 24px 50px 24px;
}

.sidebar__container {
  padding: 26px;
  background-color: #fff;
  border: 1px solid rgba(4, 9, 33, 0.16);
  border-radius: 12px;
}

.sidebar__container--icon {
  margin-bottom: 18px;
}

.sidebar__container--title {
  margin-bottom: 8px;
  color: #040921;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.sidebar__container--desc {
  margin-bottom: 16px;
  color: rgba(4, 9, 33, 0.56);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.sidebar__container--btn {
  padding: 7px 17px;
  background-color: transparent;
  color: #583CF0;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.pupup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 3;
}

.pupup__container {
  width: 100%;
  height: 100%;
  margin-top: 44px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  overflow: auto;
}

.radiobox {
  margin-right: 34px;
  margin-bottom: 20px;
  cursor: pointer;
}

.radiobox__text {
  margin-left: 10px;
  color: rgba(4, 9, 33, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.radiobox__desc {
  margin-top: 6px;
  color: rgba(4, 9, 33, 0.56);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.radiobox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radiobox__input--checked {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(4, 9, 33, 0.08);
  border-radius: 50%;
}

.radiobox__input:checked ~ .radiobox__text {
  color: #040921;
}

.radiobox__input:checked ~ div {
  background-color: #9D50FF;
}

.text {
  width: 100%;
  margin-top: 16px;
}

.text__title {
  margin-bottom: 8px;
  color: #040921;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.text__input {
  width: 100%;
  color: rgba(4, 9, 33, 0.56);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid rgba(4, 9, 33, 0.16);
  outline: none;
  padding-bottom: 16px;
}

.btn-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
}

.btn-container-btn {
  width: 100%;
  padding: 24px 0;
}

.save-btn-btn {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #9d50ff;
  padding: 14px 0;
  width: 100%;
  border-radius: 8px;
}

.save-btn {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #9d50ff;
  padding: 14px 0;
  width: 80%;
  border-radius: 8px;
}

.save-btn:disabled {
  background-color: rgba(157, 80, 255, 0.32);
}

.feature--select {
  margin-top: 32px;
}

.feature--select .radiobox {
  border-bottom: 1px solid rgba(4, 9, 33, 0.16);
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.photos__upload {
  width: 160px;
  height: 160px;
  position: relative;
  float: left;
  border: 1px dashed #040921;
  border-radius: 8px;
  cursor: pointer;
}

.photos__upload--input {
  opacity: 0;
  position: absolute;
  z-index: -2;
}

.photo_required_text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #040921;
}

.upload {
  margin-top: 24px;
  margin-bottom: 24px;
}

.upload__cover {
  width: 100%;
  height: 321px;
  position: relative;
  padding-bottom: 100%;
}

.upload__cover--img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.upload__cover--edit {
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.amenities__item {
  border-bottom: 1px solid rgba(4, 9, 33, 0.16);
  margin-top: 16px;
  padding-bottom: 16px;
}

.amenities__item--title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #040921;
}

.amenities__item--title span {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  background-color: rgba(157, 80, 255, 0.1);
  padding: 5px 8px;
  color: #9D50FF;
  border-radius: 4px;
}

.amenities__item--desc {
  max-width: 70%;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(4, 9, 33, 0.56);
  margin-top: 6px;
}

.amenities__item--desc.bold {
  color: #040921;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-decoration: underline;
}

.amenities__item--btn {
  border: 1px solid rgba(4, 9, 33, 0.16);
  border-radius: 8px;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.wifi__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(4, 9, 33, 0.56);
  margin-bottom: 16px;
}

.wifi__desc--more {
  font-weight: 700px;
  color: #040921;
}

.wifi__cover {
  width: 100%;
  margin-top: 39px;
  margin-bottom: 32px;
}

.wifi__btn {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: rgba(157, 80, 255, 0.32);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.wifi__footer-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(4, 9, 33, 0.56);
  padding-bottom: 32px;
  width: 279px;
  margin: auto;
}

.location__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(4, 9, 33, 0.56);
}

.map {
  margin-top: 24px;
  margin-bottom: 343px;
  border-radius: 16px;
  overflow: hidden;
  height: 197px;
}

.map__iframe {
  width: 100%;
  height: 100%;
}

.safety__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(4, 9, 33, 0.56);
  margin-top: 12px;
  margin-bottom: 16px;
}

.safety__question {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #9D50FF;
  margin-bottom: 32px;
}

.safety__more-btn {
  margin-top: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #9D50FF;
}
/*# sourceMappingURL=mobile.css.map */