input[type='radio'],
input[type='checkbox'] {
    accent-color: #583cf0;
}

.agree-to-terms-checkbox {
    margin-block: 24px;

    label {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    input {
        margin-top: 3px;
        accent-color: #583cf0;
    }

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.1px;
        color: $mainColor;
    }
}

.search-places-form {
    display: flex;
    gap: 24px;
    align-items: center;

    input[type='search'] {
        width: 257px;
        padding: 11px 16px;
        border: 1px solid rgba(4, 9, 33, 0.16);
        border-radius: 12px;

        &::placeholder {
            text-transform: capitalize;
        }
    }
}

.counter-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    h3 {
        font-weight: 400;
        font-size: 16px;
        color: $mainColor;
        text-transform: capitalize;
    }

    p {
        margin-top: 2px;
        font-weight: 400;
        font-size: 12px;
        color: color($mainColor, 0.56);
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
            font-weight: 700;
            font-size: 18px;
            color: $mainColor;
        }
    }
}
