body {
    background-color: #fff;
}

.header {
    padding-top: 24px;
    &__title {
        margin-top: 18px;
        color: $mainColor;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    &--back {
        background-color: transparent;
        color: $mainColor;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;

        img {
            margin-right: 10px;
        }
    }

    &__menu {
        padding: 12px 0;
        overflow: auto;
        border-bottom: 1px solid color($mainColor, .16);

        &--item {
            list-style: none;
        }

        &--link {
            padding: 10px 23px;
            color: color($mainColor, .56);
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            text-decoration: none;

            &.active {
                color: color($mainColor, 1);
                border-bottom: 2px solid #583CF0;
            }
        }
    }
}

.page {
    background-color: #fff;
    padding-bottom: 32px;

    &__head {
        margin-top: 32px;

        &--title {
            color: $mainColor;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        &--btn {
            background-color: transparent;
            color: color($mainColor, .16);
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;

            img {
                margin-left: 10px;
                opacity: .16;
            }
        }
    }
    &__menu {
        margin-top: 14px;

        &--item {
            list-style: none;
            border-bottom: 1px solid color($mainColor, .16);
            padding: 16px 0;
        }

        &--link {
            text-decoration: none;
        }

        &--title {
            color: color($mainColor, 1);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
        
        &--desc {
            margin-top: 12px;
            color: color($mainColor, .56);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }

        &--icon {
            background-color: transparent;
        }
    }

    &__photo {
        width: calc(100% + (50px + 12px));
        margin-left: -50px;
        margin-top: 16px;
        // margin-right: -150px;

        &--cover {
            width: 100%;
            height: 96px;
            position: relative;
            border-radius: 6px;
            overflow: hidden;
        }

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.sidebar {
    background-color: color($mainColor, .04);
    padding: 32px 24px 50px 24px;
    
    &__container {
        padding: 26px;
        background-color: #fff;
        border: 1px solid color($mainColor, .16);
        border-radius: 12px;

        &--icon {
            margin-bottom: 18px;
        }

        &--title {
            margin-bottom: 8px;
            color: color($mainColor, 1);
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
        }

        &--desc {
            margin-bottom: 16px;
            color: color($mainColor, .56);
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
        }

        &--btn {
            padding: 7px 17px;
            background-color: transparent;
            color: #583CF0;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
        }
    }
}