.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000000;

    display: none;

    &.open {
        display: block;
    }

    &__backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.72);
    }

    &__container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: var(--height, 96vh);
        background: #ffffff;
        border-radius: 20px 20px 0 0;
        overflow-y: auto;
    }

    &__close {
        position: sticky;
        top: 8px;
        left: calc(100% - 34px);
        width: 32px;
        height: 32px;
        display: grid;
        place-content: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        svg {
            display: block;
            width: 16px;
            height: 16px;
            stroke: #040921;
        }
    }

    &__content {
        min-height: 100%;
        padding-top: 30px;
        padding-bottom: 24px;
        padding-inline: var(--padding-inline, 24px);
        display: flex;
        flex-direction: column;
    }

    &__form {
        display: flex;
        flex-direction: column;

        .agree-to-terms-checkbox {
            margin-top: 0;
        }

        &__field {
            textarea {
                display: block;
                padding: 10px;
                height: 56px;
                width: 100%;
                border: 1px solid rgba(4, 9, 33, 0.16);
                border-radius: 12px;
            }
        }
    }
}
