.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000000;

    display: none;

    &.open {
        display: block;
    }

    &__backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.72);
    }

    &__container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: var(--height, 96vh);
        background: #ffffff;
        border-radius: 20px 20px 0 0;
        overflow-y: auto;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 32px;
        height: 32px;
        display: grid;
        place-content: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        svg {
            display: block;
            width: 16px;
            height: 16px;
            stroke: #040921;
        }
    }

    &__content {
        min-height: 100%;
        padding-top: 56px;
        padding-bottom: 24px;
        padding-inline: var(--padding-inline, 24px);
        display: flex;
        flex-direction: column;
    }

    &__btn {
        margin-top: auto;
        justify-self: flex-end;
        width: 100%;
        padding-block: 14px;
        display: grid;
        place-content: center;
        background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
        border: 0;
        border-radius: 8px;
        color: #ffffff;

        &--invert {
            background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.16) 11.55%, rgba(88, 60, 240, 0.16) 104.8%);
        }

        &:disabled {
            color: #ffffff;
            background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.32) 11.55%, rgba(88, 60, 240, 0.32) 104.8%);
            span {
                color: #ffffff;
            }
        }

        span {
            font-size: 16px;
            font-weight: 900;
            background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        .agree-to-terms-checkbox {
            margin-top: 0;
        }

        &__field {
            textarea {
                display: block;
                padding: 10px;
                height: 56px;
                width: 100%;
                border: 1px solid rgba(4, 9, 33, 0.16);
                border-radius: 12px;
            }
        }

        &__btn {
            margin-top: 24px;
            padding-block: 16px;
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.5px;
            color: #ffffff;
            background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
            border: 0;
            border-radius: 8px;
        }
    }

    &__cta-box {
        margin-top: auto;
        justify-self: flex-end;
    }
}
