// 1500px container
.cstm-container {
    width: 1500px;
    margin-inline: auto;

    @media (max-width: 1540px) {
        width: 1280px;
    }

    @media (max-width: 1366px) {
        width: 1192px;
    }

    @media (max-width: 1200px) {
        width: 100%;
        padding-inline: 1rem;
    }
}

// narrow container
.cstm-container-narrow {
    width: 1280px;
    margin-inline: auto;

    @media (max-width: 1366px) {
        width: 100%;
        padding-inline: 1rem;
    }
}

// Dashboard container
.dashboard-container {
    padding-inline: 100px;
    width: 100%;
    max-width: 1920px;
    margin-inline: auto;

    @media (max-width: 1440px) {
        padding-inline: 80px;
    }

    @media (max-width: 1200px) {
        padding-inline: 1rem;
    }
}

.dashboard-row {
    display: grid;
    grid-template-columns: 204px 1fr;
    justify-content: space-between;
    gap: 30px;

    @media (min-width: 1315px) {
        grid-template-columns: 204px auto 204px;

        & > div:nth-child(2) {
            max-width: 704px;
        }
    }

    @media (min-width: 1439px) {
        grid-template-columns: 220px auto 290px;

        & > div:nth-child(2) {
            max-width: 655px;
        }
    }
    @media (min-width: 1500px) {
        & > div:nth-child(2) {
            max-width: unset;
        }
    }

    @media (min-width: 1919px) {
        grid-template-columns: 290px 910px 400px;

        // & > div:nth-child(2) {
        //     max-width: unset;
        // }
    }
}

.dashboard-header-right {
    display: flex;
    justify-content: space-between;
}
