.rating {
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }
    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
}

.radiobox {
    margin-right: 34px;
    margin-bottom: 20px;
    cursor: pointer;

    &__text {
        margin-left: 10px;
        color: color($mainColor, 0.5);
        font-size: 16px;
        font-weight: 400;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &--checked {
            width: 16px;
            height: 16px;
            border: 1px solid rgba(4, 9, 33, 0.08);
            border-radius: 50%;
        }

        &:checked {
            ~ .radiobox__text {
                color: color($mainColor, 1);
            }

            ~ div {
                background-color: #9d50ff;
            }
        }
    }
}

.number {
    width: 100%;
    position: relative;
    overflow: hidden;

    input {
        padding: 20px;
        color: $mainColor;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        border: none;
    }

    &__index {
        width: 120px;
        border-right: 1px solid rgba(4, 9, 33, 0.16) !important;
        border-left: 1px solid rgba(4, 9, 33, 0.16) !important;
        color: color($mainColor, 0.5) !important;
        // margin-left: -1px;
        // margin-right: -1px;
    }

    &__input {
        width: 100%;
    }

    &__verify {
        padding: 9px 21px;
        right: 12px;
        position: absolute;
        border-radius: 8px;
        background-color: color($mainColor, 0.72);
        color: #fff;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            background-color: color($mainColor, 1);
        }
    }
}

.general {
    &--col {
        max-width: 730px;
        width: 100%;

        @media (max-width: 1339px) {
            max-width: 100%;
        }
    }

    &__list {
        .selectpicker {
            &__head {
                padding: 20px 24px;
            }
            &__body {
                width: 100%;
            }
        }
    }

    .textarea {
        width: 100%;
        height: 136px;
        padding: 15px;
        cursor: auto;
        resize: none;
        outline: none;
    }

    .upload {
        &__cover {
            width: 160px;
            height: 160px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 16px;
            margin-bottom: 16px;

            &--img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &--btns {
                position: absolute;
                top: 8px;
                right: 8px;
            }

            &--btn {
                background-color: #fff;
                padding: 5px;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        &__label {
            width: 160px;
            height: 160px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            border: 1px dashed #040921;
            cursor: pointer;

            &--input {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }

            &--icon {
                margin-bottom: 10px;
            }

            &--text {
                color: color($mainColor, 1);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .langs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        &__item {
            margin-right: 16px;
            padding: 15px;
            border-radius: 8px;
            background-color: transparent;
            color: $mainColor;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;

            &.active {
                background-color: $mainColor;
                color: #fff;
            }
        }

        &__ckeck {
            margin-right: 16px;
            padding: 15px;
            border-radius: 8px;
            background-color: transparent;
            color: color($mainColor, 0.5);
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;

            &--inc {
                display: block;
            }

            &--dec {
                display: none;
            }

            figure {
                margin-right: 5px;

                img {
                    opacity: 0.5;
                }
            }

            &.active {
                color: color($mainColor, 1);
                border: 1px solid $mainColor;

                figure {
                    img {
                        opacity: 1;
                    }
                }

                .langs__ckeck--inc {
                    display: none;
                }

                .langs__ckeck--dec {
                    display: block;
                }
            }
        }
    }

    &__menu {
        display: flex;
        align-items: stretch;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 40px;

        &--item {
            min-height: 100%;
            list-style: none;
        }

        &--link {
            padding: 10px 17px;
            display: block;
            color: color($mainColor, 0.72);
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            display: flex;
            align-items: center;

            &:hover {
                color: color($mainColor, 1);
                border: 1px solid color($mainColor, 0.72);
            }

            &.active {
                background: gradient(0.16);
                border: 1px solid color($mainColor, 0);
                color: #583cf0;
            }
        }
    }

    &__item {
        margin-bottom: 15px;
        background-color: #fff;

        &--active {
            display: none;
        }

        &--deactive {
            .general__item--head {
                padding: 24px;
            }
        }

        &:hover {
            color: color($mainColor, 1);
            border: 1px solid color($mainColor, 0.72);
        }

        &--title {
            // margin-bottom: 17px;
            color: $mainColor;
            font-size: 16px;
            font-weight: 700;
        }

        &--dec {
            margin-top: 17px;
            color: $mainColor;
            font-size: 16px;
            font-weight: 400;
        }

        &--edit {
            background-color: transparent;
            color: $mainColor;
            font-size: 16px;
            font-weight: 700;

            img {
                margin-right: 9px;
            }
        }

        &--btn {
            background-color: transparent;
            color: $mainColor;
            font-size: 18px;
            font-weight: 700;
        }

        &--done {
            margin-left: 8px;
            padding: 13px;
            border: 1px solid rgba(4, 9, 33, 0.16);
            background-color: transparent;
            border-radius: 8px;
            font-weight: 100;
            font-size: 1px;

            &.active {
                background-color: $mainColor;

                path {
                    stroke: #fff;
                }
            }
        }

        &--save {
            padding: 17px 45px;
        }

        &--cancel {
            margin-right: 24px;
            color: color($mainColor, 0.08);
            font-size: 17px;
            font-weight: 700;
        }

        &--head {
            padding: 15px 24px;
        }

        &--body {
            margin-top: 12px;
            border-top: 1px solid color($mainColor, 0.16);
            padding: 15px 24px;
        }

        .onoff {
            &__checked {
                padding: 8px 2px;

                p {
                    font-size: 12px;
                    font-weight: 700;
                    padding: 0 6px;
                }

                &--no {
                    color: color(#de1313, 1);
                }

                &--yes {
                    color: color($mainColor, 0.24);
                }
            }

            &__input {
                position: absolute;
                z-index: -1;
                opacity: 0;

                &:checked {
                    ~ div {
                        .onoff__checked--yes {
                            color: color(#de1313, 1);
                        }

                        .onoff__checked--no {
                            color: color($mainColor, 0.24);
                        }
                    }
                }
            }
        }

        .quantity {
            // padding: 9px 16px;

            &__input {
                width: 50px;
                text-align: center;
                outline: none;
                border: none;
            }

            &__btn {
                padding: 9px 16px;
                cursor: pointer;
            }
        }

        .checkbox {
            margin-right: 34px;
            margin-bottom: 20px;
            cursor: pointer;

            &__text {
                margin-left: 10px;
                color: color($mainColor, 1);
                font-size: 16px;
                font-weight: 400;
            }

            &__input {
                position: absolute;
                z-index: -1;
                opacity: 0;

                &--checked {
                    width: 15px;
                    height: 15px;
                    border: 1.5px solid $mainColor;
                    border-radius: 4px;

                    img {
                        display: none;
                    }
                }

                &:checked {
                    ~ div {
                        border: 1.5px solid #9d50ff;

                        img {
                            display: block;
                        }
                    }
                }
            }
        }

        .time {
            width: 50%;

            &__content {
                &--count {
                    border: 1px solid rgba(4, 9, 33, 0.04);
                    border-radius: 55px;
                    padding: 5px 0;
                    color: $mainColor;
                    font-size: 16px;
                    font-weight: 400;

                    span {
                        margin: 0 4px;
                        padding: 7px 8px;
                        border-radius: 50%;

                        input {
                            width: 20px;
                            color: $mainColor;
                            font-size: 16px;
                            font-weight: 400;
                            background-color: transparent;
                            text-align: center;
                            border: none;
                            outline: none;
                        }

                        &:hover {
                            background-color: rgba(4, 9, 33, 0.08);
                        }
                    }
                }
            }

            .selectpicker {
                &__head {
                    padding: 12px;
                    border-radius: 55px;
                    margin-left: 5px;
                }
            }
        }

        .rates {
            margin-bottom: 20px;

            &__text {
                width: 100%;
                margin-left: 24px;

                &--title {
                    margin-bottom: 8px;
                }

                &--desc {
                    width: 100%;
                    display: block;
                    padding-bottom: 20px;
                    border-bottom: 1px solid color($mainColor, 0.16);
                    color: color($mainColor, 0.7);
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .recomended-text {
                margin-left: 26px;
                color: #9d50ff;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;

                svg {
                    margin-right: 10px;
                }
            }

            .selectpicker {
                &__head {
                    padding: 22px 24px;

                    &--text {
                        font-size: 16px;
                    }

                    .text {
                        font-size: 16px;
                    }
                }

                &__body {
                    margin-top: 8px;
                    width: 100%;

                    li {
                        padding: 0;
                    }

                    & .home__allcategories--checked {
                        left: 24px;
                    }

                    & .home__allcategories--text {
                        padding-left: 52px;
                    }
                }
            }

            .notification {
                padding: 24px;
                margin-bottom: 8px;
                background: gradient(0.04);
                border: 1px solid color(#9d50ff, 0.16);
                border-radius: 8px;

                &__head {
                    margin-bottom: 8px;
                }

                &__desc {
                    color: $mainColor;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}

.add-room-btn {
    background-color: transparent;
    color: $mainColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    svg {
        filter: grayscale(100%);
        margin-right: 5px;
    }

    &:hover {
        svg {
            filter: grayscale(0%);
        }
    }
}

.room {
    &__footer-btn {
        margin-right: 7px;
        padding: 10px 25px;
        border-radius: 8px;
        border: 1px solid color($mainColor, 0.16);
        background-color: #fff;
        color: color($mainColor, 0.72);
        font-weight: 400;

        svg {
            margin-right: 8px;
            fill: color($mainColor, 0.72);
        }

        &:hover {
            border: 1px solid color($mainColor, 1);
            color: color($mainColor, 1);

            svg {
                fill: color($mainColor, 1);
            }
        }
    }
}

.edit-select-icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 50%;
}
