.header {
    width: 100%;
    margin-bottom: $headMarginBottom;
    position: relative;
    background-color: #fff;
    z-index: 1;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.06));

    &__menu {
        height: 80px;

        @media (max-width: 1199px) {
            display: none !important;
        }

        &--item {
            list-style: none;
            margin: 0 25px;
        }

        &--link {
            position: relative;
            color: $mainColor;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            opacity: 0.6;

            @media (max-width: 1366px) {
                font-size: 14px;
            }

            &:hover,
            &.active {
                opacity: 1;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    display: block;
                    bottom: 0;
                    background-color: $mainColor;
                }
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__text-btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: $mainColor;
        text-decoration: none;
        background-color: transparent;
        border: 0;
    }

    &__buttons {
        &--profile {
            min-height: 40px;
            padding: 9.5px 16px;
            border-radius: 10px;
            background-color: $mainColor;
            display: flex;
            align-items: center;
            gap: 4px;

            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #ffffff;
                text-transform: capitalize;
            }
        }

        &--valute {
            margin: 0 35px;
        }
    }
}
