.header {
    width: 100%;
    height: 118px;
    margin-bottom: $headMarginBottom;
    position: relative;
    background-color: #fff;
    z-index: 1;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.06));

    & > * {
        height: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 12px;

        span {
            margin-top: 8px;
        }

        svg {
            display: block;
        }
    }

    &__grid-2 {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__grid-3 {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        gap: 56px;

        @media (max-width: 1440px) {
            gap: 32px;
        }

        @media (max-width: 1366px) {
            gap: 24px;
        }

        @media (max-width: 1199px) {
            display: none !important;
        }

        &--item {
            list-style: none;
        }

        &--link {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            color: $mainColor;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            opacity: 0.6;

            @media (max-width: 1366px) {
                font-size: 14px;
            }

            &:hover,
            &.active {
                opacity: 1;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    display: block;
                    bottom: 0;
                    background-color: $mainColor;
                }
            }
        }
    }

    &__menu-small {
        display: flex;
        gap: 24px;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

        a {
            font-weight: 400;
            font-size: 16px;
            color: #040921;
            text-decoration: none;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-self: end;
    }

    &__text-btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: $mainColor;
        text-decoration: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    &__btn {
        height: 40px;
        display: flex;
        align-items: center;
        gap: 8px;

        font-family: bold;
        font-weight: 700;
        font-size: 16px;
        color: #040921;
        text-decoration: none;
        cursor: pointer;
        background-color: transparent;
        border: 0;

        &.bordered {
            padding: 10px 24px;
            background: #ffffff;
            border: 1px solid rgba(4, 9, 33, 0.16);
            border-radius: 10px;
        }
    }

    &__buttons {
        &--profile {
            height: 40px;
            padding: 9.5px 16px;
            border-radius: 10px;
            background-color: $mainColor;
            display: flex;
            align-items: center;
            gap: 4px;

            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #ffffff;
                text-transform: capitalize;
            }
        }

        &--valute {
            margin: 0 35px;
        }
    }
}
