.home {
    &--col {
        max-width: 910px;
        width: 100%;

        @media (max-width: 1579px) {
            max-width: 700px;
        }

        @media (max-width: 1339px) {
            max-width: calc(100% - 300px);
        }
    }

    &__add-listing {
        padding: 14px 16px;
        background: #040921;
        border-radius: 8px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;

        svg {
            margin-right: 14px;

            path {
                fill: #fff;
            }
        }

        &:hover {
            path {
                fill: #583cf0;
            }
        }
    }

    &__search {
        margin-right: 27px;
        position: relative;

        &--input {
            padding: 10px 12px;
            outline: none;
        }

        &--icon {
            position: absolute;
            background-color: transparent;
            right: 12px;
        }
    }

    &__allcategories {
        .selectpicker {
            &__head {
                &--text,
                .text {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            &__body {
                width: 420px;
                margin-top: 20px;
                left: 0;
                border-radius: 12px;
            }
        }

        &--icon {
            margin-right: 10px;
        }

        &--item {
            cursor: pointer;
            position: relative;
        }

        &--text {
            padding: 15px 32px;
            width: 100%;
        }

        &--input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            background-color: grey;

            &:checked ~ .home__allcategories--checked {
                background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
            }
        }

        &--checked {
            width: 16px;
            height: 16px;
            top: 15px;
            right: 32px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 1px solid rgba(4, 9, 33, 0.16);
            border-radius: 50%;
            z-index: -1;
        }
    }

    &__list {
        margin-top: 15px;
    }

    &__item {
        margin-bottom: 24px;
        padding: 24px;
        background: #ffffff;
        box-shadow: 0px 32px 74px rgba(4, 9, 33, 0.04);
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @media (max-width: 980px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        a {
            pointer-events: all;
            display: block !important;
        }

        &--status {
            padding: 8px;
            background-color: #fff;
            border-radius: 4px;
            position: absolute;
            top: 8px;
            left: 8px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 700;
            color: color($mainColor, 0.78);

            img {
                margin-right: 7px;
            }
        }

        &--cover {
            position: relative;
            min-width: 180px;
            height: 130px;
            border-radius: 8px;
            overflow: hidden;

            @media (max-width: 560px) {
                width: 100%;
            }
        }

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--texts {
            width: inherit;
            margin-right: auto;
        }

        &--title {
            width: 100%;
            color: $mainColor;
            font-size: 18px;
            font-weight: 700;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @media (max-width: 1440px) {
                font-size: 16px;
            }
        }

        &--id-rating {
            margin: 15px 0;
        }

        &--id {
            margin-right: 10px;
            color: rgba(4, 9, 33, 0.5);
            font-size: 14px;
            font-weight: 700;

            span {
                color: $mainColor;
                font-weight: 400;
            }
        }

        &--rating {
            color: $mainColor;
            font-size: 14px;
            font-weight: 700;

            img {
                margin-right: 4px;
            }

            span {
                color: rgba(4, 9, 33, 0.5);
                font-weight: 400;
            }
        }

        &--link {
            margin-right: 25px;
            color: $mainColor;
            font-size: 14px;
            text-decoration: none;
            font-weight: 700;

            svg {
                margin-right: 5px;
            }

            &:hover > svg path {
                fill: #9d50ff;
            }
        }

        &--info-list {
            height: 100%;

            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }

        &--info {
            display: flex;
            align-items: center;
            gap: 12px;

            &.deactive {
                opacity: 0.5;

                .home__item--info-desc {
                    text-decoration: line-through;
                }
            }
        }

        &--info-title {
            margin-bottom: 8px;
            color: $mainColor;
            font-size: 14px;
            font-weight: 400;
            opacity: 0.5;
        }

        &--info-desc {
            color: $mainColor;
            font-size: 16px;
            font-weight: 400;
        }

        &--info-icon {
            // margin-right: 12px;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 24px;

        @media (max-width: 560px) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
    }

    &__add-list {
        padding: 16px 24px;

        &--cover {
            width: 110px;
            height: 80px;
            margin-right: 16px;
            background: #ebebed;
            border-radius: 8px;
            overflow: hidden;
        }

        &--title {
            margin-bottom: 8px;
            color: $mainColor;
            font-size: 16px;
            font-weight: 700;
        }

        &--desc {
            margin-bottom: 12px;
            color: #818490;
            font-size: 14px;
            font-weight: 400;
        }

        &--rating {
            width: 110px;
            height: 3px;
            background-color: rgba(#9d50ff, 0.1);
        }

        &--rating-line {
            height: 100%;
            display: block;
            background-color: #9d50ff;
        }

        &--btn {
            padding: 15px 25px;
            border-radius: 12px;
            background-color: color(#9d50ff, 0.05);
            color: #9d50ff;
            font-weight: 700;

            &:hover {
                background: gradient(1);
            }
        }
    }

    &__stats {
        margin-bottom: 32px;
        background-color: #fff;
        border-radius: 12px;

        &--head {
            padding: 32px 32px 23px 32px;

            img {
                margin-right: 14px;
            }
        }

        &--head-border {
            border-bottom: 1px solid rgba(4, 9, 33, 0.08);
        }

        &--tab-title {
            color: $mainColor;
            font-size: 24px;
            font-weight: 700;

            @media (max-width: 1440px) {
                font-size: 18px;
                font-weight: 500;
            }

            @media (max-width: 1366px) {
                font-size: 14px;
                font-weight: 500;
            }
        }

        &--tab-link {
            color: $mainColor;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
        }

        &--body-padding {
            padding: 0 32px 32px 32px;
        }

        &--info {
            margin-top: 30px;
            font-weight: 400;

            p {
                color: $mainColor;
                font-size: 16px;

                @media (max-width: 1366px) {
                    font-size: 14px;
                }
            }

            span {
                color: $mainColor;
                font-size: 24px;

                @media (max-width: 1366px) {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }

        &--item {
            padding: 18px 32px;
            font-size: 16px;

            @media (max-width: 1366px) {
                font-size: 14px;
            }

            &:hover {
                background-color: rgba(#9d50ff, 0.05);
            }
        }

        &--item-profile {
            min-width: 48px;
            height: 48px;
            margin-right: 12px;
            float: left;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--item-title {
            width: 100%;
            margin-bottom: 4px;
            color: $mainColor;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            height: 20px;
            overflow: hidden;
        }

        &--item-desc {
            margin-bottom: 8px;
            height: 16px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            overflow: hidden;
        }

        &--item-date {
            color: rgba($mainColor, 0.48);
            font-size: 12px;
            font-weight: 400;
        }

        &--status {
            padding: 16px 24px;
            text-decoration: none;

            svg {
                path {
                    fill: #040921;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #583cf0;
                    }
                }
            }

            h1 {
                color: rgba($mainColor, 1);
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
            }

            span {
                margin-top: 10px;
                color: rgba($mainColor, 1);
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;

                .active {
                    color: #55da40;
                }

                img {
                    margin-right: 7px;
                }
            }
        }

        &--host-title {
            margin-bottom: 8px;
            color: $mainColor;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
        }

        &--host-status {
            color: color($mainColor, 0.7);
            font-size: 16px;
            font-weight: 700;
            line-height: 29px;
        }

        &--host-desc {
            width: 100%;
            height: 61px;
            color: $mainColor;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            overflow: hidden;
        }

        &--host-date {
            margin-top: 24px;
            padding: 19px 16px;
            background-color: #faf6ff;
            border-radius: 8px;

            p {
                color: $mainColor;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }

            span {
                color: $mainColor;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
            }
        }

        &--host-footer {
            margin-top: 17px;
            color: color($mainColor, 0.72);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }
}
