.link-colored {
    background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%), #040921;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
}
