.page-profile {
    background-color: #fff;
}

.profile {
    &--title {
        color: $mainColor;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    .sidebar {
        &__content {
            background-color: #fcfaff;

            > div {
                background-color: #fcfaff;
            }
        }
    }

    &__head {
        margin: 0 40px 0 0;
        padding: 65px 0;

        &--img {
            width: 144px;
            height: 144px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--texts {
            margin-left: 32px;
        }

        &--title {
            color: $mainColor;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }

        &--date {
            margin-top: 8px;
            color: color($mainColor, 0.5);
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__list {
        margin: 0 40px 0 0;
        padding: 32px 0;
        border-top: 1px solid color($mainColor, 0.16);

        &--title {
            margin-bottom: 24px;
            color: $mainColor;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
        }
    }

    &__about {
        margin-top: 38px;
        margin-bottom: 49px;
        line-height: 1.5;

        &--list {
            margin-top: 33px;
            display: flex;
            flex-direction: column;
            gap: 27px;

            li {
                display: flex;
                gap: 12px;
                align-items: center;
            }
        }
    }

    &__menu {
        &--item {
            width: 100%;
            display: flex;
            list-style: none;
        }

        &--link {
            width: 100%;
            margin: 8px 0;
            color: $mainColor;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;

            &:hover,
            &.active {
                .profile__menu--icon {
                    background-color: #583cf0;
                }
            }
        }

        &--icon {
            width: 48px;
            height: 48px;
            margin-right: 16px;
            border-radius: 50%;
            background-color: $mainColor;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__verified {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--item {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: color($mainColor, 0.7);
            font-weight: 400;
        }

        &--link {
            color: color($mainColor, 0.7);
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-decoration: none;
            display: flex;
            gap: 9px;
            color: $mainColor;
        }

        &--icon {
            margin-right: 14px;
        }

        &--text {
            font-size: 16px;
            line-height: 20px;

            a {
                color: $mainColor;
                font-weight: 700;
            }

            span {
                color: $mainColor;
                font-weight: 700;
            }
        }
    }

    &__soc {
        &--item {
            list-style: none;
            margin-right: 24px;
        }

        &--link {
            padding: 11px;
            background: color($mainColor, 0.72);
            border-radius: 50%;
            text-decoration: none;

            &:hover {
                background-color: #583cf0;
            }
        }

        &--icon {
            width: 36px;
            height: 36px;
            border-radius: 12px;
            background-color: #fff;
        }
    }

    &__about {
        &--text {
        }
    }

    &__items {
        margin-bottom: 32px;

        &--item {
            position: relative;
            margin-top: 28px;
        }
        &--slider {
        }
        &--cover {
            width: 100%;
            height: 200px;
            position: relative;
            padding-bottom: 100%;
            border-radius: 16px;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--title {
            margin-top: 12px;
            margin-bottom: 8px;
            color: $mainColor;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
        }

        &--dots {
            width: 100%;
            margin-top: -14px;
            position: absolute;

            button {
                width: 4px;
                height: 4px;
                margin: 0 4px;
                border-radius: 50%;
                background-color: color($mainColor, 0.5);
                border: none;
                outline: none;
                z-index: 1;

                &.active {
                    background-color: #fff;
                }
            }
        }

        &--more {
            margin-top: 24px;

            button {
                width: 100%;
            }
        }
    }

    &__reviews {
        &--tabs {
            border-radius: 24px;
        }

        &--head {
            padding: 32px 0;

            button {
                margin-left: 32px;
                margin-right: 16px;
                background-color: transparent;
                color: color($mainColor, 0.3);
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;

                &.active {
                    color: color($mainColor, 1);
                }
            }
        }

        &--body {
            display: none;
            padding: 32px;
            border-top: 1px solid color($mainColor, 0.16);

            &.active {
                display: block;
            }
        }

        &--profile {
            width: 70px;
            height: 70px;
            margin-right: 16px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--name {
            color: $mainColor;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
        }

        &--date {
            margin-top: 4px;
            color: color($mainColor, 0.7);
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }

        &--desc {
            color: $mainColor;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.from-host {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &:not(:last-child) {
        margin-bottom: 48px;
    }
}

.with-rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-dashboard {
    &__header {
        margin-bottom: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__user {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: $mainColor;
    }

    &__join-date {
        margin-top: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: color($mainColor, 0.5);
    }

    &__edit-btn {
        padding: 12px 24px;
        border: 1px solid rgba(4, 9, 33, 0.16);
        border-radius: 100vmax;
        background-color: transparent;
        cursor: pointer;

        span {
            background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__section {
        margin-bottom: 60px;

        &.overlayed {
            position: relative;

            & > * {
                opacity: 0.16;
            }
        }

        & > h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: $mainColor;
        }

        & > p {
            margin-top: 24px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: color($mainColor, 0.75);

            a {
                color: inherit;
                font-weight: 700;
            }
        }
    }
}

.edit-profile {
    &__about,
    &__work {
        margin-top: 16px;
        margin-bottom: 24px;
        padding: 16px;
        width: 100%;
        background: #ffffff;
        border: 1px solid rgba(4, 9, 33, 0.16);
        border-radius: 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    &__about {
        height: 200px;
    }

    &__work {
        height: 79px;
    }

    .dropdown {
        margin-bottom: 16px;
    }

    &__setting {
        margin-bottom: 16px;
        padding: 10px;
        min-height: 40px;
        display: flex;
        align-items: center;
        gap: 8.75px;
        border: 1px solid rgba(4, 9, 33, 0.16);
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
        transition: border-radius 200ms ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px;
        font-size: 16px;
        font-family: inherit;

        svg {
            display: block;
        }

        & > div {
            display: flex;
            align-items: center;
            gap: 7px;
        }

        & > .delete-option {
            background-color: transparent;
            border: 0;
            cursor: pointer;
        }
    }

    .add-option {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        span {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    .visibility {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $mainColor;

        &__desc {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__settings {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 8px 16px;
            background: #ffffff;
            border: 1px solid rgba(4, 9, 33, 0.16);
            border-radius: 10px;

            & > button {
                font-weight: 700;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 1px;
                color: rgba(4, 9, 33, 0.24);
                text-transform: capitalize;
                background-color: transparent;
                border: 0;
                cursor: pointer;
                transition: color 150ms ease-in-out;

                &.active {
                    color: #34c588;
                }
            }
        }

        svg {
            display: block;
        }
    }
}
