.review {
    margin-bottom: 48px;

    &__item {
        margin-top: 16px;
        padding: 37px 24px;
        background-color: #fff;
        border-radius: 12px;

        &__grid {
            display: grid;
            grid-template-columns: 3fr 4fr 397px;

            @media (max-width: 1337px) {
                grid-template-columns: 1fr 1fr;
                gap: 40px;
            }

            @media (max-width: 980px) {
                grid-template-columns: 1fr;
            }

            &.border {
                & > div:nth-child(1) {
                    border-right: 1px solid rgba(4, 9, 33, 0.08);
                    @media (max-width: 980px) {
                        border: 0;
                    }
                }

                & > div:nth-child(2) {
                    border-right: 1px solid rgba(4, 9, 33, 0.08);
                    @media (max-width: 1337px) {
                        border: 0;
                    }
                }
            }

            & > div:nth-child(1) {
                padding-right: 50px;
            }

            & > div:nth-child(2) {
                padding-inline: 50px;
            }

            & > div:nth-child(3) {
                @media (max-width: 1337px) {
                    grid-column: 1/3;
                }
                @media (max-width: 980px) {
                    grid-column: 1/2;
                }
            }
        }

        &__property {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        &__guest {
            display: flex;
            align-items: flex-start;
            gap: 16px;

            @media (max-width: 980px) {
                padding: 0 !important;
            }
        }

        &__status {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--alt {
                align-items: flex-start;
                padding-left: 50px;

                @media (max-width: 1337px) {
                    padding-left: 0;
                    max-width: 400px;
                }
            }
        }

        &--profile {
            min-width: 72px;
            max-width: 72px;
            height: 72px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 18px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--text {
            max-width: 400px;
        }

        &--name {
            margin-right: 8px;
            color: $mainColor;
            font-size: 14px;
            font-weight: 700;
        }

        &--date {
            margin-top: 4px;
            font-size: 14px;
            color: color($mainColor, 0.5);
        }

        &--star {
            &.noactive {
                opacity: 0.3;
            }
        }

        &--desc {
            // height: 36px;
            overflow: hidden;
            margin-top: 6px;
            color: color(#000, 0.75);
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            position: relative;

            .show-full-text {
                display: inline;
                font-family: inherit;
                font-weight: 700;
                color: $mainColor;
                text-transform: capitalize;
                background-color: transparent;
                border: 0;
                cursor: pointer;
            }

            span {
                overflow: hidden;
                position: relative;
                margin-bottom: 6px;
                border-radius: 40px;
                display: block;
                width: 100%;
                height: 10px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: gradient(0.1);
                }
            }

            .limit-desc-length {
                all: unset;
                display: inline-block;
                font-size: 16px;
                color: color(#000, 0.75);
                height: 36px;
                overflow: hidden;

                @media (max-width: 1366px) {
                    font-size: 14px;
                }

                &.shown {
                    height: auto;
                }

                &::before {
                    all: unset;
                }
            }
        }

        &--btn {
            padding: 18px 23px;
            background: gradient(0.1);
            border-radius: 12px;
            font-size: 16px;
            font-weight: 700;

            &:hover {
                background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
            }
        }

        &--status {
            margin-top: 12px;
            color: #000;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
        }

        &.loading > * {
            position: relative;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                // background-color: color($mainColor, .24);
            }
            // backdrop-filter:  blur(10px);
            filter: blur(14px);

            figure {
                background-color: color($mainColor, 0.24);
            }

            img {
                display: none;
            }

            button {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    .detail & {
        &__item {
            &--head {
                color: color($mainColor, 0.5);
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
            .home__item--cover {
                max-width: 138px;
                min-width: 138px;
                width: 100%;
                height: 100px;
                margin-right: 0;

                @media (max-width: 1339px) {
                    min-width: 100px;
                }
            }
            .home__item--title {
                width: 200px;

                @media (max-width: 980px) {
                    width: auto;
                    white-space: unset;
                }
            }

            .home__item--id {
                padding: 7px 10px;
            }
        }
    }

    &__rating {
        img {
            width: 10px;
            height: 10px;
        }
    }
}

.writing {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: color($mainColor, 0.7);
    top: 0;
    left: 0;
    display: none;
    padding-top: 36px;
    z-index: 5;

    &.active {
        display: flex;
    }

    &--container {
        position: relative;
        width: 100%;
        max-width: 1060px;
        height: 100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 24px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            border-radius: 50px;
        }
    }

    &--section {
        padding: 24px 70px;
        border-bottom: 1px solid color($mainColor, 0.08);
    }

    &__rating {
        margin-right: 24px;
        padding: 15px 11px;
        background-color: color($mainColor, 1);
        border-radius: 12px;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    &__score {
        max-width: 240px;
        width: 100%;
        margin-top: 24px;
        color: color($mainColor, 1);
        font-size: 18px;
        line-height: 24px;

        div {
            font-weight: 400;
        }

        p {
            font-weight: 700;
        }

        img {
            margin-right: 12px;
        }
    }

    &__close {
        position: absolute;
        top: 36px;
        right: 36px;
        background-color: transparent;

        svg {
            display: block;
            opacity: 0.6;
        }
    }
}
