.trips {
    &__menu {
        margin-top: 48px;
        border-bottom: 1px solid color($mainColor, 0.16);

        &--btn {
            padding: 14px 22px;
            background-color: transparent;
            color: $mainColor;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            margin-bottom: 14px;
            transition: all 200ms ease-in-out;

            &:first-child {
                padding-left: 0;
            }

            &.active {
                position: relative;
                font-weight: 700;
                background: #ffffff;
                border: 1px solid rgba(4, 9, 33, 0.72);
                border-radius: 10px;
                padding: 14px 22px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -17px;
                    height: 3px;
                    border-radius: 6px;
                    background-color: color($mainColor, 1);
                }
            }
        }
    }

    &__body {
        display: none;
        margin-top: 48px;

        &.active {
            display: block;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 40px;
        align-items: baseline;
    }

    &__item {
        background: #ffffff;
        box-shadow: 0px 10px 40px rgba(4, 9, 33, 0.05);
        border-radius: 16px;
        overflow: hidden;

        &--cover {
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
            }
        }

        &--icons {
            position: absolute;
            bottom: 16px;
            right: 16px;
            display: flex;
            align-items: center;

            & > div {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                overflow: hidden;
                background-color: #1c1717;

                &:not(:last-child) {
                    margin-right: -10px;
                }

                img {
                    position: relative !important;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &--date {
            margin-top: 4px;
            margin-left: 24px;
            color: color($mainColor, 0.56);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }

        &--title {
            margin-top: 12px;
            margin-left: 24px;
            color: color($mainColor, 1);
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            text-transform: capitalize;
        }

        &--more {
            width: 100%;
            padding: 16px 0;
            background-color: transparent;
            text-align: center;
            color: color($mainColor, 0.7);
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
        }
    }

    &__list {
        padding: 16px 24px;
        border-bottom: 1px solid color($mainColor, 0.08);

        &--all {
            height: 0;
            overflow: hidden;

            &.active {
                height: auto;
            }
        }

        &--cover {
            width: 48px;
            height: 48px;
            overflow: hidden;
            border-radius: 12px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--title {
            margin-left: 16px;
            color: $mainColor;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
        }
    }

    &__review {
        padding: 32px;
        border-radius: 24px;

        &--head {
            width: 100%;
        }

        &--profile {
            min-width: 72px;
            min-height: 72px;
        }

        &--textarea {
            width: 100%;
            height: 112px;
            outline: none;
            padding: 16px;
        }

        &--text {
            border-bottom: 1px solid color($mainColor, 0.16);
            padding-bottom: 24px;
            margin-bottom: 24px;
        }

        &--send {
            margin-top: 24px;
        }

        &--like {
            background-color: transparent;
            padding: 8px;

            img {
                margin-right: 7px;
            }
        }
    }
}

.empty-trips {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
        img {
            width: 290px;
            height: 202.38px;
            object-fit: cover;
        }
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: $mainColor;
    }

    &__subtitle {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: color($mainColor, 0.5);
    }

    &__btn {
        width: 400px;
        height: 56px;
        display: grid;
        place-content: center;
        background: hsla(266, 100%, 66%, 0.1);
        border-radius: 12px;
        text-decoration: none;

        span {
            background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
}
