.text-grey {
    color: color($mainColor, 0.5) !important;
}
.text-grey-2 {
    color: color($mainColor, 0.7) !important;
}

.text-12 {
    font-size: 12px !important;
}

.text-16 {
    font-size: 16px !important;
}

.underline {
    text-decoration: underline !important;
}

.no-wrap {
    white-space: nowrap !important;
}

.mb-c6 {
    margin-bottom: 32px !important;
}

.hide-on-md {
    @media (max-width: 1337px) {
        display: none;
    }
}

.text-center {
    text-align: center !important;
}
