.text-grey {
    color: color($mainColor, 0.5) !important;
}

.text-12 {
    font-size: 12px !important;
}

.underline {
    text-decoration: underline !important;
}

.no-wrap {
    white-space: nowrap !important;
}
